body {
	max-width: 1600px;
    height: 900px;
	background-color: #E5E5E5;
	font-style: normal;
    font-weight: normal;
    font-family: "SF Pro Display", "PT Serif Caption", sans-serif;
    color: #000000;
}

.main-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 100px;
	width: 100%;
	margin: 0;
	padding-top: 34px;
	background-color: #E5E5E5;
}

.logo-block {
	width: 9.5%;
	padding-left: 56px;
}


.main-header__logo-link {
	display: inline-block;
	color: #000000;
}


.logo-link-text {
	display: inline-block;
	padding-left: 16px;	
    font-size: 24px;
    line-height: 29px;
}


.speed-check {
	/*min-width: 700px;*/
	width: 72%;
    font-size: 24px;
    line-height: 29px;
    padding-left: 100px;
}

.user-profile {
    width: 18.5%;
}

.user-block-ava {
   display: inline-block;
}

.user-block {
   display: inline-block;
   padding-left: 16px;
}

.user-block-name {
	font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.user-block-role {
   font-style: normal;
   font-weight: normal;
   font-size: 10px;
   line-height: 12px;
}

.main-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 800px;
	background-color: #E5E5E5;
}

.container-navigation {
	max-width: 17.5%;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 36px;
	
}

.main-navigation li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    vertical-align: top;
    margin-left: 40px;
    padding-left: 56px;
}

.main-navigation a {
	display: block;
	width: 200px;
	height: 72px;
	color: #000000;
	text-decoration: none;
}

.container-video {
	max-width: 62.5%;
}

.video-toggle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 73px;
	font-size: 18px;
    line-height: 21px;
}

.container-video-upload {
	width: 304px;
	height: 72px;
	padding-left: 16px;
	border-bottom: 1px solid #474747;
}

.container-video-calculation {
	width: 304px;
	height: 72px;
	padding-left: 16px;
	color: #474747;
}

.video-translation {
	margin-top: 40px;
	width: 640px;
	height: 360px;
	background: #9C9B9B;
}

#framevideo {
	width: 640px;
	height: 360px;
	border: 1px solid #7D7E8D; 	
}

.buttons {
	display: none;
	margin-top: 47px;
}
	

.btn {
    width: 200px;
    height: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: #C4C4C4;
    border-radius: 4px;
    border: 1px solid #7D7E8D;    
}

.right {
	margin-left: 36px;
}

.container-input {
/*	display: none;*/
	min-width: 280px;
	min-height: 400px;
}

.your-data {
	margin-top: 47px;
    font-size: 18px;
    line-height: 21px;
    color: #010101;
}

.your-data-form input {
    width: 240px;
    height: 32px;
    border: 1px solid #7D7E8D;
}

.result {
	padding-top: 24px;
	padding-bottom: 8px;
	font-size: 14px;
    line-height: 17px;
    color: #7D7E8D;
}

.bottom {
	display: block;
	width: 240px;
	margin-top: 47px;
}

.container-result {
	/*visibility: hidden;*/
	max-width: 18.5%;
	margin-top: 120px;
}

.result-name {
	font-size: 18px;
    line-height: 21px;
    color: #010101;
}

.result-discribe {
	margin-top: 24px;
	font-size: 14px;
    line-height: 17px;
    color: #000000;
}